.custom-footer {
  text-align: center;
  color: #00b246;
}

.suggar {
  margin-top: auto;
  margin-bottom: auto;
  font: 12px Helvetica, sans-serif;
  text-align: center;
}

.form-inline {
  text-align: center;
  vertical-align: middle;
  horizontal-align: middle;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.form-inline * {
   text-align: center;
   display: flex;
   align-items:center;
}
